table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}
th, td {
	border-left: 1px solid #336633;
	border-right: 1px solid #336633;
	padding-left: .4em;
	padding-right: .4m;
}
thead{
	background-color: #339933;
	color: white;
}
tbody td {
	text-align: center;
}
tbody td:nth-of-type(3n){
	font-style: italic;
}
tbody tr:nth-of-type(even){
	background-color: #88ee88;
}
tbody tr:nth-of-type(odd){
	background-color: #99ff99;
}
thead th:nth-of-type(1), tbody th{
	text-align: left;
}
tbody tr:hover{
	background-color: #336633;
}