body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #736B60;
}

nav {
    display: flex;
    margin-top: 40px;
    background-color: #d5a021;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

blockquote,
footer {
    background-color: #d5a021;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

footer {
    margin-bottom: 100px;
}

img {
    width: 500px;
    height: auto;
    padding: 10px 10px;
    background-color: black;
    border-radius: 10px;
}



h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

a {
    font-size: 35px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: whitesmoke;
    padding: 5px 5px;
    border-radius: 10px;
}

a:hover {
    color: #d5a021;
}



.main-page p {
    font-family: 'Times New Roman', Times, serif;
}

#main-img {
    background-color: transparent;
}

.music-page p {
    font-family: 'Courier New', Courier, monospace;
}

.music-page {
    background-image: url(/Assiment/image/background-teble\ clefs.png);
    background-repeat: repeat;
}

.music-page h1,
.music-page p {
    background-color: #736B60;
    border-radius: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

#contact a {
    margin: 100px;
    text-align: center;
    margin: 30px;
}

#contact img {
    width: 350px;
}

.photo-page p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}




.rally th:hover {
    border: 5px white solid;
}

.circuit th:nth-last-of-type(n) {
    border: 5px white dotted;
}

.nature th:nth-of-type(n) {
    border: 5px white double;
    border-radius: 10px;
}

.street th:nth-last-of-type(n) {
    border: 2.5px white dashed;
    border-radius: 10px;
}

