html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  font-size:16px;
}

.ui.container {
  margin-top:2em;
}

.ui.tabular.menu{
  border-bottom-color: red;
}

.ui.tabular.menu .item{
  font-family: sans-serif;
  color: black;
  font-weight: bold;
}

.ui.tabular.menu .item:hover{
  background-color: pink;
  color: white;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}

.ui.tabular.menu .active.item{
  background-color: red;
  color: white;
  border-color: red;
}
