figcaption{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: white;
}
span{
    font-size: 80%;
    font-style: italic;
    color: lightgray;
}
figure{
    background-color: navy;
    width: 600px;
    padding: 20px;
}